{% extends "base.html" %}

{% block head %}
  <title>{{ post.title }}{% if post.subtitle %}: {{ post.subtitle }}{% endif %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}" />
{% endblock %}

{% block content %}
  <!-- Header -->
  <div class="header">
    <h1>{{ post.title }}</h1>
    {% if post.subtitle %}
      <h2>{{ post.subtitle }}</h2>
    {% endif %}
    <h3 class="date">{{ post.date|date }}</h3>
  </div>

  <!-- Content -->
  <div id="content">
    {{ post.html|safe }}
  </div>
{% endblock content %}